@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background-color: rgb(233, 230, 225);
    --text-color: rgb(33, 29, 30);

    --title-font: "Lora";
    --paragraph-font: "Roboto";
} 